__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

data/staging/*.csv
!data/staging/.gitkeep
data/processed/*.csv
!data/processed/.gitkeep

logs/*
!logs/.gitkeep

reports/figures/*
!reports/figures/.gitkeep
